* {
    margin:0%;
    padding:0%;
}

html body {
    height: 100%;
    font-family: 'Raleway', sans-serif !important;
    background-image: linear-gradient(to bottom,white,white,rgb(234, 229, 229));
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    animation-name: aparecer;
    animation-iteration-count: initial;
    animation-duration: 3s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

#grilla{
    height: 100%;
    display:grid;
    grid-template-areas:
    "header header"
    "titulo titulo"
    "subtitulo1 subtitulo1"
    "texto1 imagen1"
    "subtitulo2 subtitulo2"
    "imagen2 texto2"
    "footer footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 102px;
    grid-row-gap: 2em;
    padding: 1em 2em;
   
  }


  nav {
    grid-area: header;
  }

  h1 {
    grid-area: titulo;
  }

  .subtitulo1{
    grid-area: subtitulo1;
  }

  .primerTexto {
    grid-area: texto1;
    
  }

  .imgArtista1 {
    grid-area: imagen1;
    width: 100%;
  }

  .subtitulo2{
    grid-area: subtitulo2;
  }

  .imgArtista2 {
    grid-area: imagen2;
    width: 100%;
  }

 .parrafoStatement {
    grid-area: texto2;
 } 

 .container-fluid {
    flex-direction: row-reverse;
}

 footer {
    grid-area: footer;
    text-align: center;
 }

p {
    text-align: justify;
    line-height: 1.6;   
}

h1 {
    font-size: 4rem;
}

.ig{
    width: 47px;
}

  
  @media only screen and (max-width: 600px) {
    #grilla {
        grid-template-areas:
        "header"
        "titulo"
        "subtitulo1"
        "imagen1"
        "texto1" 
        "subtitulo2"
        "imagen2"
        "texto2"
        "footer"; 
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        padding: 0;
    } 

    .container-fluid {
        flex-direction: row;
    }

    footer {
        font-size: 0.6em;
    }
}








