
* {
    margin:0%;
    padding:0%;
}

html body {
    height: 100%;
    font-family: 'Raleway', sans-serif !important;
    background-image: linear-gradient(to bottom,white,white,rgb(234, 229, 229));
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    animation-name: aparecer;
    animation-iteration-count: initial;
    animation-duration: 3s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

#grilla{
    height: 100%;
    display:grid;
    grid-template-areas:
    "header"
    "titulo"
    "subtitulo1"
    "imgSurrealismo"
    "subtitulo2"
    "imgPrensa"
    "subtitulo3"
    "imgViajes"
    "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 102px;
    grid-row-gap: 2em;
    padding: 1em 2em;
   
  }

  nav {
    grid-area: header;
  }

.ig {
    width: 47px;
}


h1{
    grid-area: titulo;
    font-size: 4rem;
    margin-top: 30px;
    text-align: left;
}

.subtitulo1 {
    grid-area: subtitulo1;
}

.imgSurrealismo { 
    grid-area: imgSurrealismo;
    width:100%;
    overflow-x: scroll;
    height: 450px;
    white-space: nowrap;
}

.imgSurrealismo img {
    width: 300px;
}

.subtitulo2 {
    grid-area: subtitulo2;
}

.imgPrensa {
    grid-area: imgPrensa;
    width:100%;
    overflow-x: scroll;
    height: 300px;
    white-space: nowrap;
}

.imgPrensa img {
    width: 400px;
}

.subtitulo3 {
    grid-area: subtitulo3;
}

.imgViajes {
    grid-area: imgViajes;
    width:100%;
    overflow-x: scroll;
    height: 300px;
    white-space: nowrap;
}

.imgViajes img {
    width: 400px;
}

footer {
    grid-area: footer;
    text-align: center;
 }

 .container-fluid {
    flex-direction: row-reverse;
}


@media only screen and (max-width: 1023px) {
    #grilla {
        grid-template-areas:
        "header"
        "titulo"
        "subtitulo1"
        "imgSurrealismo"
        "subtitulo2"
        "imgPrensa"
        "subtitulo3"
        "imgViajes"
        "footer";
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
        padding: 0;
    } 

    .container-fluid {
        flex-direction: row;
    }

    footer {
        font-size: 0.6em;
    }
}
