
* {
    margin:0%;
    padding:0%;
}

html body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif !important;
    background-image: linear-gradient(to bottom,white,white,rgb(234, 229, 229));
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    animation-name: aparecer;
    animation-iteration-count: initial;
    animation-duration: 3s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

#grilla{
    display:grid;
    grid-template-areas:
    "header"
    "imagen"
    "boton"
    "footer";
    grid-template-rows: 1fr;
    grid-row-gap: 2em;
    padding: 1em 2em;
   
  }

nav {
    grid-area:header;
}


.imagen {
    grid-area: imagen;
    text-align: center;
    margin-top: 5%;

}

.float-button {
    grid-area: boton;
    margin-left: 11%;

}

 footer {
    grid-area: footer;
    margin-top: 50px;
    text-align: center;
    
}


.ig {
    width: 47px;
}


img {
    width: 65%;
    text-align: center;
}


.container-fluid {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1023px) {
    .container-fluid {
        flex-direction: row;
    }

    footer {
        font-size: 0.6em;
    }

    img {
        width: 100%;
    }
}

