$font: 'Raleway', sans-serif;
$background: linear-gradient(to bottom,white,white,rgb(234, 229, 229));
$responsiveBreakpoint: 1023px;


* {
    margin:0%;
    padding:0%;
}

html {
    
    body {
        min-height: 100vh;
        font-family: $font !important;
        background-image: $background;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        animation-name: aparecer;
        animation-iteration-count: initial;
        animation-duration: 3s;

        @keyframes aparecer {
            0% {
                opacity: 0;
            }
            100%{
                opacity:1;
            }
        } 
        
        .ig {
            width: 47px;
        }

        .container-fluid {
            flex-direction: row-reverse;
        }

        footer {
            text-align: center;
        }

        @media only screen and (max-width: $responsiveBreakpoint) {
            .container-fluid {
                flex-direction: row;
            }
        
            footer {
                font-size: 0.6em;
            }
        }  

    }

}
