* {
  margin: 0%;
  padding: 0%; }

html body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif !important;
  background-image: linear-gradient(to bottom, white, white, #eae5e5);
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  animation-name: aparecer;
  animation-iteration-count: initial;
  animation-duration: 3s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  html body .ig {
    width: 47px; }
  html body .container-fluid {
    flex-direction: row-reverse; }
  html body footer {
    text-align: center; }
  @media only screen and (max-width: 1024px) {
    html body .container-fluid {
      flex-direction: row; }
    html body footer {
      font-size: 0.6em; } }

html body #grilla {
  display: grid;
  grid-template-areas: "header" "titulo" "subtitulo1" "imagen1" "texto1"  "subtitulo2" "imagen2" "texto2" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1em;
  padding: 0; }

html body nav {
  grid-area: header; }

html body h1 {
  grid-area: titulo;
  font-size: 4rem; }

html body .subtitulo1 {
  grid-area: subtitulo1; }

html body .primerTexto {
  grid-area: texto1; }

html body .imgArtista1 {
  grid-area: imagen1;
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
  animation-name: aparecer;
  animation-duration: 6s;
  animation-iteration-count: initial;
  animation-delay: 10s; }

html body .subtitulo2 {
  grid-area: subtitulo2; }

html body .imgArtista2 {
  grid-area: imagen2;
  width: 100%;
  filter: drop-shadow(2px 4px 6px black);
  animation-name: aparecer;
  animation-duration: 6s;
  animation-iteration-count: initial;
  animation-delay: 8s; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  50% {
    opacity: 50%; }
  100% {
    opacity: 1; } }

html body .parrafoStatement {
  grid-area: texto2; }

html body p {
  text-align: justify;
  line-height: 1.6; }

html body footer {
  grid-area: footer; }

@media only screen and (min-width: 1024px) {
  html body #grilla {
    height: 100%;
    display: grid;
    grid-template-areas: "header header" "titulo titulo" "subtitulo1 subtitulo1" "texto1 imagen1" "subtitulo2 subtitulo2" "imagen2 texto2" "footer footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 102px;
    grid-row-gap: 2em;
    padding: 1em 2em; } }
