* {
  margin: 0%;
  padding: 0%; }

html body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif !important;
  background-image: linear-gradient(to bottom, white, white, #eae5e5);
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  animation-name: aparecer;
  animation-iteration-count: initial;
  animation-duration: 3s; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  html body .ig {
    width: 47px; }
  html body .container-fluid {
    flex-direction: row-reverse; }
  html body footer {
    text-align: center; }
  @media only screen and (max-width: 1024px) {
    html body .container-fluid {
      flex-direction: row; }
    html body footer {
      font-size: 0.6em; } }

html body #grilla {
  display: grid;
  grid-template-areas: "header" "logo" "imgPrincipal" "subtitulo" "imgPrensa" "imgViajes" "imgSurrealismo" "footer";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 1em;
  padding: 0; }

html body nav {
  grid-area: header; }

html body .logo {
  grid-area: logo;
  text-align: center; }

html body .logo img {
  width: 80%; }

html body .imgPrincipal {
  grid-area: imgPrincipal;
  filter: drop-shadow(2px 4px 6px black); }

html body .subtitulo {
  grid-area: subtitulo; }

html body .imgSurrealismo {
  grid-area: imgSurrealismo; }

html body .imgPrensa {
  grid-area: imgPrensa; }

html body .imgViajes {
  grid-area: imgViajes; }

html body .imgContainer {
  position: relative; }

html body footer {
  grid-area: footer; }

html body h3 {
  font-weight: bold; }

@media only screen and (max-width: 1024px) {
  html body .ih-item.square.effect12.left_to_right a .info {
    transform: translate(0px, 0px); }
  html body .ih-item.square.effect12 a .info {
    visibility: visible;
    opacity: 1; }
  html body .ih-item.square.effect12.left_to_right a .info h3 {
    transform: translateY(0px); }
  html body .ih-item.square.effect12.left_to_right a .info p {
    transform: translateX(0px) rotate(0deg); } }

@media only screen and (min-width: 1024px) {
  html body #grilla {
    display: grid;
    grid-template-areas: "header header" "logo logo" "imgPrincipal imgPrincipal" "subtitulo subtitulo" "imgSurrealismo imgPrensa" "imgSurrealismo imgViajes" "footer footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 2em;
    padding: 1em 2em; }
  html body .logo img {
    width: 50%; } }
